{% extends 'base.html.twig' %}

{% block title %}Post - {{ post.title }}{% endblock %}

{% block bread %}
→ Post
{% endblock %}

{% block body %}
    {{ include('micro_post/_post_details.html.twig', {'post': post}) }}
    <div>
    {% if post.comments.count == 1 %}
        {{ post.comments.count }} comment
    {% else %}
        {{ post.comments.count }} comments
    {% endif %}
        
    </div>
    {% for comment in post.comments %}
        <div>
            <div class="flex items-center">
                {{ include('shared/_avatar.html.twig', {size: 16, profile: comment.author.userProfile}) }}
                <div>
                    <div class="font-medium text-gray-800 dark:text-gray-300 hover:underline"><a href="{{ path('app_user_profile', {id:comment.author.id}) }}">{{ comment.author.email }}</a></div>
                    <div class="font-light text-gray-500 dark:text-gray-500">{{ comment.created | date("M j, Y") }}</div>
                </div>
            </div>
            <div class="flex">
                <div class="border border-gray-300 dark:border-gray-600 ml-8 mr-8 pb-12"></div>
                <div>{{ comment.text }}</div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
