{% set extraClass = class|default('') %}
{% if profile and profile.image %}
<img src="{{ asset(profiles ~ profile.image) }}"
  class="inline-block h-{{size}} w-{{size}} rounded-full ring-2 ring-white dark:ring-gray-600 {{ extraClass }}" />
{% else %}
  <div class="inline-block bg-gray-200 dark:bg-gray-700 rounded-full text-3xl h-{{size}} w-{{size}} ring-2 ring-white dark:ring-gray-600 {{ extraClass }}"></div>
{% endif %}